$btn-disabled: #C8C5D1;
$btn-color: #9873FF;
$btn-color-hover: #B89EFF;
$btn-color-active: #8052FF;

$font-color: #333;
$font-color-gray: #B0B0B0;

$font-color-purpl:#9873FF;
$font-color-orange:#F06A4D;
